<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <h3 class="mb-0">{{post.title}}</h3>
    <div class="mb-1 text-muted">{{post.creationDate | date: 'longDate'}} by {{post.author.firstName}}
      {{post.author.lastName}}</div>
    <p class="card-text mb-auto" [innerHTML]="post.shortContent | safe: 'html'"></p>
    <a routerLink="/post/{{post._id}}" class="stretched-link">Continue reading</a>
  </div>
</div>