<main id="main" class="container">
  <h1>Edit Post</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title: </label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" required minlength="5" />
    </div>
    <div class="form-group">
      <label for="date">Date: </label>
      <input type="date" class="form-control" id="date" name="date" [ngModel]="date | date: 'yyyy-MM-dd'" required />
    </div>
    <div class="form-group">
      <label for="editor">Content: </label>
      <angular-editor [(ngModel)]="htmlContent" [config]="config" name="content" #content="ngModel" ngModel required>
      </angular-editor>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-outline-primary" value="Post" [disabled]="f.invalid" />
    </div>
  </form>
</main>