.side-padding {
  max-width: 49% !important;
}

.side-padding:nth-child(1) {
  margin-right: 2%;
}

@media only screen and (max-width: 767px) {
  .side-padding {
    min-width: 100%;
    margin-right: 0;
  }
}