.profilePicture {
  width: 50px;
  border-radius: 50%;
}

.navbar {
  -webkit-box-shadow: 0px 2px 3px 1px rgba(175,175,175,0.6);
	-moz-box-shadow: 0px 2px 3px 1px rgba(175,175,175,0.6);
  box-shadow: 0px 2px 3px 1px rgba(175,175,175,0.6);
  background-color: cadetblue !important;
  color: whitesmoke;
}

.navbar-brand, .nav-link, .btn.btn-outline-success, .dropdown-item:hover {
  color: whitesmoke !important;
}

.dropdown-item:hover {
  background-color: #007bff;
}

#search-field {
  border-left: 1px solid #ced4da !important;
}

.navbar-brand {
  padding-top: 0 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,245,245,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: whitesmoke;
}