<main id="main" class="container">
    <h1>Change Profile Picture</h1>
    <div class="row">
      <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="profile-picture">New profile picture</label>
            <input type="file" class="form-control-file" id="profile-picture" accept="image/*" name="profilePicture" (change)="onChange($event)"
              #profilePicture="ngModel" ngModel required>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-outline-primary" value="Change" [disabled]="f.invalid" />
          </div>
        </form>
      </div>
    </div>
  </main>