<main id="main" class="container main-background">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Discussion Blog</h1>
      <p class="lead my-3">Programming newsletter is a comprehensive summary of the day's most important blog posts and
        news articles from the best Programming websites on the web</p>
    </div>
  </div>
  <top-two-liked [posts]="posts"></top-two-liked>
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="inner-content" *ngFor="let post of (posts | sortPosts: 'author._id')">
        <resume-post [post]="post"></resume-post>
      </div>
    </div>
    <aside class="col-md-4 blog-sidebar">
      <right-side-common></right-side-common>
      <resume-archives [posts]="posts"></resume-archives>
    </aside>
  </div>
</main>