.profile-picture {
  max-width: 100px;
}

.comment {
  margin-bottom: 20px;
}

.author, .comment-content {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(175,175,175,0.6);
	-moz-box-shadow: 0px 2px 3px 1px rgba(175,175,175,0.6);
	box-shadow: 0px 2px 3px 1px rgba(175,175,175,0.6);
}

#comment-icons > a, #author-icons > a {
  color: black;
  padding-right: 20px;
}

.thumbs-button {
  border: none;
  background: transparent;
}